@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
@{
    var user = new User();
    if (Context.Session.GetString("ForgetUser") != null)
    {

        user = JsonConvert.DeserializeObject<User>(Context.Session.GetString("ForgetUser"));

    }
}



<style>
    .myContainer {
        width: 400px;
        height: auto;
        border: 1px solid black;
        margin: auto;
        padding: 15px;
    }

        .myContainer input {
            padding: 5px;
            font-size: 16px;
            width: 100%;
            margin: 5px;
        }

        .myContainer button {
            height: 40px;
            width: 100px;
            background-color: #56FF33;
            margin: 8px 35%;
        }

    #SendCode {
        display: none;
    }

    #resend {
        margin: 10px;
    }

    #changePassword {
        display: none;
    }

    #changePassword p {
        margin: 5px;
        font-size: 20px;
    }
</style>

<div class="myContainer">
    <h1 style="text-align:center">
        BazarGhar
    </h1>
    <hr />
    <div id="checkEmail">
        <h3>Did you fotget yout Password ?</h3>
        <p id="showEmail"> <h4>Enter Your email below</h4></p>
        <input type="text" id="email" />
        <button id="sendMail" class="button">Send code</button>
    </div>
    <div id="SendCode">
        <p>Dear, @user.Username</p>
        <p>An Email with verificatiom code has been send to your email : </p>
        <h5>@user.Email</h5>
        <p>Please, enter the code below.</p>
        <input type="text" id="code" />
        <div id="codeError" style="color:red" hidden></div>
        <button id="verify" class="button">Verify Code</button>
        <div>
            <a asp-controller="Register" asp-action="Resend_Forget_Password_Code" id="resend">Resend code</a>
        </div>
    </div>
    <div id="changePassword">
        <p> New Password : </p><input type="password" id="Password" />
        <p>Confirm Password:</p> <input type="password" id="ConfirmPassword" />
        <p id="PasswordMatch" style="color:red">Password Didn't matched!</p>
        <button class="btn button" id="submitBtn">Submit</button>
    </div>
</div>

<script>
    $(function click() {
        $("#resend").click(function (e) {
            e.preventDefault();
        });
        $("#sendMail").click(function (e) {
            e.preventDefault();
            var email = $("#email").val();
            var formData = new FormData();
            formData.append("email", email);
            document.getElementById("sendMail").disabled = true;
            @**@$.ajax({
                type: "Post",
                url: "/Register/ForgetPasswordSendEmail",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == true) {
                        $("#checkEmail").hide();
                        $("#SendCode").show();

                        $("#forEmail").text(email);
                    } else {
                        $("#showEmail").text("The email doesn't found as User, Please enter valid email or register new account.");
                        document.getElementById("sendMail").disabled = false;
                    }
                },
                failure: function (res) {
                    alert(res.responseText);
                },
                error: function (res) {
                    alert(res.responseText);
                }
            });
        });

        $("#submitBtn").click(function (e) {
            $("#PasswordMatch").hide();
            var password = $("#Password").val();
            var Cpassword = $("#ConfirmPassword").val();
            document.getElementById("submitBtn").disabled = true;



            if (Cpassword == password) {
                var formData = new FormData();
                formData.append("password", password);
                @**@$.ajax({
                    type: "Post",
                    url: "/Register/ChangeForgetPassword",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        alert("Password Reset Successfully .");
                        document.getElementById("submitBtn").disabled = false;
                        window.history.back();
                    },
                    failure: function (res) {
                        alert(res.responseText);
                    },
                    error: function (res) {
                        alert(res.responseText);
                    }
                });

            } else {
                $("#PasswordMatch").show();

                document.getElementById("verify").disabled = false;
            }

                    });

        $("#verify").click(function (e) {
            e.preventDefault();
            $("#codeError").hide();
            document.getElementById("verify").disabled = true;
            var code = $("#code").val();
            var formData = new FormData();
            formData.append("VCode", code);
            @**@$.ajax({
                type: "Post",
                url: "/Register/Forget_Password_Verify_Code",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == true) {
                        $("#SendCode").hide();
                        $("#changePassword").show();

                    } else {
                        $("#codeError").show();
                        $("#codeError").text("Verification code doesnt match !");

                        document.getElementById("verify").disabled = true;
                    }
                },
                failure: function (res) {
                    alert(res.responseText);
                },
                error: function (res) {
                    alert(res.responseText);
                }
            });
        });

    });

</script>
