
@using Microsoft.AspNetCore.Http;
@{ 
    String viewType = Context.Session.GetString("userAs");
    if (viewType.Equals("business"))
    {

        Layout = "_Business";

            }
            else { 
    Layout = "_Layout";
}

 }
@{

    ViewData["Title"] = "About"; }
<h2>@ViewData["Title"]</h2>
<h3>
    @ViewData["Message"]
@viewType
</h3>

<p>Use this area to provide additional information.</p>