@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .container {
    width:40%;
    height:50%;
    border:1px solid black;
    position:fixed;
    top:50%;
    left:50%;
    }

</style>
<div class="container">

    <div>
        <h1>Dear Customer,</h1>
        <p> A verification code was send to your email. Please enter the code below to verify it.</p><br />
        <input type="text" placeholder="verification code" id="code" name="code">
        <input type="button" class="btn btn-info" value="Verify">  

    </div>


</div>