@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_business";
    ViewBag.Title = "Sales";
}
<style>
    .container {
        display:table;
    width:100%;
    height:auto;
    padding:2px;
    table-layout:fixed
    
    }
    .table_cell {
        display: table-cell;
        width: 100px;
        border: solid black 1px;
        text-align:center;
    }
    #myTable {
    width:100%;
    }
</style>

<div class="container">
    <h3 style="text-align:center">Sales Report </h3>
    <table id="myTable">
        <tr>

            <th class="table_cell">Date</th>
            <th class="table_cell">Product Id</th>
            <th class="table_cell">Product Name</th>
            <th class="table_cell">Price (Rs.)</th>
            <th class="table_cell">Sold To</th>

            <th class="table_cell">Remarks</th>
        </tr>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    </table> 


</div>