
@{
    ViewBag.Title = "passingmultiple parameter using jQuery Ajax";
}

@{List<Category> categories = ViewBag.Categories;
    var ProductView = ViewBag.products;
    }
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style>
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }

    .dd {
        position: relative;
        display: inline-block;
    }
    #mydd {
        position: absolute;
        display: none;
        background-color: #f1f1f1;
        width: 600px;
        max-width: 600px;
        min-width: 160px;
        padding: 5px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        overflow:auto;
    }
       
    .category_list{
        left: 15px;
        
    }
    .category_list:hover {
        
        background: #e1d6d6;
    }
   

    
</style>
<div class="dd">
    <button class="dropbtn">ALL</button>
    <div id="mydd">
        <div class="row" style="width:95%">
            @foreach (var cat in categories)
            {
            <div class="col col-12 col-sm-3 category_list"><a class="btn" style="color:black; padding:0;" onclick="getByCategory(@cat.Category_id)"> @cat.Category_name</a> </div>
            }
            <div class="col col-12 col-sm-3 category_list"><a style="color:black">one</a></div>
            <div class="col col-12 col-sm-3 category_list"><a style="color:black">one</a></div>
            <div class="col col-12 col-sm-3 category_list"><a style="color:black">one</a></div>
            <div class="col col-12 col-sm-3 category_list"><a style="color:black">one</a> </div>
            <div class="col col-12 col-sm-3 category_list"><a style="color:black">one</a></div>
            <div class="col col-12 col-sm-3 category_list"><a style="color:black">one</a></div>
            <div class="col col-12 col-sm-3 category_list"><a style="color:black">one</a></div>
            <div class="col col-12 col-sm-3 category_list"><a style="color:black">one</a> </div>
            <div class="col col-12 col-sm-3 category_list"><a style="color:black">one</a></div>
            <div class="col col-12 col-sm-3 category_list"><a style="color:black">one</a></div>
            <div class="col col-12 col-sm-3 category_list"><a style="color:black">one</a></div>
            
        </div>
    </div>
</div>
<div class="row imageRow">
   @foreach(var product in ProductView)
   {
    <div class="col col-sm-3"> 
        <img src="@product.Gallery[0].URL" >

    </div>
    }
</div>

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dd content */
    function getByCategory(id) {

        alert(id);
        $("#mydd").hide();
        $.ajax({
            type: "Get",
            url: "/AddProduct/GetByCategory",
            data: { 'Id': id },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('.imageRow').empty();
               
                if (data.length == 0) {
                    $('.imageRow').append('<div style="color:red">No Match Data</tr>');
                  
                }
                else {
                    $.each(data, function (index, value) {

                        //$.each(value.GalleryModel, function (index, value) {
                        var newCol = $("<div class='col col-12 col-sm-3'><img src=" + value.GalleryModel[0].URL + " style='width:100px; height:100px;' alt=" + value.GalleryModel[0].Name + "/></div>");
                            $('.imageRow').append(newCol);
                        //});
                    });
                }
               //location.reload();
           },
           failure: function (res) {
               alert(res.responseText);
           },
           error: function (res) {
               alert(res.responseText);
           }


       });
    }

  $(".dropbtn").focus(function () {

        $("#mydd").show();
    });
   @* $(".dropbtn").on("change, blur", function () {
        $("#mydd").hide();
    });*@


</script>